<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Find</h1>
<form action="#" th:action="@{/list}" th:object="${record}" method="post">
    <p>Date: <input type="text" th:field="*{date}" /></p>
    <p>RevenueOrExpense: <input type="text" th:field="*{revenueOrExpense}" /></p>
    <p>amount: <input type="text" th:field="*{amount}" /></p>
    <p>balance: <input type="text" th:field="*{balance}" /></p>
    <p>summary: <input type="text" th:field="*{summary}" /></p>
    <p>category: <input type="text" th:field="*{category}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>